In [2]:
import pandas as pd

In [12]:
data = {
    'Nom du Cheval': ['Fleur d\'Automne', 'Roi des Cieux', 'Vitesse d\'Éclair', 'Tigre d\'Argent'],
    'Jockey': ['Jean Dupont', 'Marie Curie', 'Paul Martin', 'Lucie Bernard'],
    'Cote': [3.5, 2.1, 5.0, 7.2],
    'Résultat': ['1er', '2ème', '3ème', 'Non placé']
}

df_pmu = pd.DataFrame(data)
df_pmu

      Nom du Cheval         Jockey  Cote   Résultat
0   Fleur d'Automne    Jean Dupont   3.5        1er
1     Roi des Cieux    Marie Curie   2.1       2ème
2  Vitesse d'Éclair    Paul Martin   5.0       3ème
3    Tigre d'Argent  Lucie Bernard   7.2  Non placé

# Fonction